
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Montserrat Alternates', sans-serif;
}

:root {
 @media (min-width : 1700px) {
   font-size: 20px;
 }
}
.text-gradient {
  background: linear-gradient(45deg, #ab26b8, #47a8d4 80%);
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
}
.active{
  background: linear-gradient(45deg, #ab26b8, #47a8d4 80%);
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
  font-weight: 800;
}
.profile-picture {
  height: 80px;
  width: 80px;
  border-radius: 50%; 
  overflow: hidden; 
}


.rounded-profile {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}
.page-transition {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #3490dc, #6574cd); 
  opacity: 2;
  /* transform: translateY(-100vw); */
  z-index: 9999;
  pointer-events: none;
  transition: opacity 1s ease; 
}

.page-transition.loaded {
  opacity: 0;
 
}
@keyframes spinOnce {
  from{
    transform: rotate(60deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.animate-spin-once {
  animation: spinOnce 0.4s linear;
}